:root {
    --bg-black: black;
    --bg-black-op: rgba(0, 0, 0, 0.5);
    --bg-head: rgb(30, 30, 30);
    --bg-main: rgb(60, 60, 60);
    --muted: rgb(100, 100, 100);
    --head-btn-pad: 5px;
    --head-btn-br: 5px;
    --user-msg-br: 0.75rem 0.75rem 0.25rem 0.75rem;
    --ai-msg-br: 0.75rem 0.75rem 0.75rem 0.25rem;
    --gradient: linear-gradient(to right, rgb(59, 59, 252), pink);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    color: white;
}

body {
    overflow: hidden;
    background-color: var(--bg-black);
    font-family: 'Courier New', Courier, monospace;
}

header {
    position: sticky;
    width: 100dvw;
    top: 1px;
    background-color: var(--bg-black-op);
    backdrop-filter: blur(1rem);
    font-size: larger;
    z-index: 110;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 60px;
    width: 100dvw;
    height: 70dvh;
    font-size: small;
    overflow-y: auto;
    scrollbar-width: none;
}

.sidebarBtn>button,
.loginOrSignin>button,
.inputBtns>button,
.sideHead>button {
    display: flex;
    align-items: center;
    height: calc(100%);
    color: white;
    border-radius: var(--head-btn-br);
    padding: var(--head-btn-pad);
    background-color: var(--bg-head);
    border: none;
}

.material-symbols-outlined {
    font-size: 20px;
}

.sidebarBtn :hover,
.loginOrSignin :hover,
.inputBtns :hover {
    background-color: var(--muted);
}

.appIcon {
    color: white;
}

main {
    background-color: var(--bg-black);
}

#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: white;
    background-color: var(--bg-black-op);
    backdrop-filter: blur(0.5rem);

    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 1000;
}

#sidebar.open {
    transform: translateX(0);
}


.sideHead {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sideNew {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-black);
}

.newChat {
    display: flex;
    justify-content: space-between;
    margin-left: calc(10%);
    padding: 1rem;
    width: calc(80%);
    border: 1px solid var(--bg-main);
    border-radius: 1rem;
}

.sideFoot {
    padding: 1rem;
    position: absolute;
    bottom: 1px;
}

.topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.basic {
    position: relative;
    z-index: 50;
    width: 70dvw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    overflow-y: auto;
}

.basicCnt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    background-color: var(--bg-black);
    padding: 3rem 2rem 3rem 2rem;
}

.sugChips {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.chip1,
.chip2,
.chip3,
.chip4 {
    padding: 1rem;
    background-color: var(--bg-head);
    border: 1px solid var(--bg-main);
    margin: 1rem;
    border-radius: 0.25rem;
    display: grid;
    font-size: smaller;

    &:hover {
        border: 1px solid rgb(147, 0, 205);
        box-shadow: 0 0 15px rgb(240, 126, 255);
    }

    >span {
        font-size: 1.5rem;
    }
}

.inputBar {
    display: flex;
    flex-direction: column;
    width: 70dvw;
    max-height: 20rem;
    position: fixed;
    bottom: 1rem;
    left: calc(15.25%);
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--bg-head);
    border: 1px solid var(--bg-main);
    z-index: 100;
}

.userInputDiv {
    max-height: 16rem;
    overflow-y: auto;
    scrollbar-width: none;
}

#userInput {
    width: calc(100%);
    resize: none;
    font-size: 16px;
    padding-left: 0.5rem;
    background-color: var(--bg-head);
    color: white;
    border: none;
    outline: none;
}

.inputBtns {
    display: flex;
    justify-content: space-between;
}

.footnote {
    position: absolute;
    bottom: 0;
    background-color: rgb(0, 0, 0, 0.5);
    backdrop-filter: blur(1rem);
    width: 100%;
    height: 1rem;
    z-index: 200;
}

.message.user {
    background-color: var(--bg-main);
    padding: 0.5rem;
    border-radius: var(--user-msg-br);
    margin-bottom: 0.5rem;
    transform: translateX(100);
}

.message.ai {
    background-color: var(--bg-main);
    padding: 0.5rem;
    border-radius: var(--ai-msg-br);
    width: calc(100%);
    margin-bottom: 1rem;
}